*{
    background-color: bisque;
}
.nav {
    width:auto;
    height: 300px;
    background-color: yellow;


}
.nav {
    display: flex;
    flex-direction: column;
}
.nav h1{
    background-color: transparent;

}

.entry1 input{
    color: #d1d1cf;
    background-color: transparent;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 592px;
    height: 134px;
    text-align: center;
    font-size: 40px;
    border: none;
    


}

.entry input{
    color: #d1d1cf;
    background-color: transparent;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 592px;
    height: 71px;
    text-align: center;
    font-size: 40px;
    border: none;
    
    
}
.content {
    
    width: 600px;
    height: 900px;
    
    position: absolute;
    top: 2%;
    right: 35%;
    
    
}
#unique{
    font-size:xx-large;
    font-weight: 900;

}
.common{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #c4c4c3;

}
.background3{
    color: #d9d9d6;
    background-color: #515150;

}
.common h1 {
    background-color: transparent;

}
.row{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.zero{
    width: 241px;
    border-radius:50px ;

}
.backgroud{
    background-color: #17181a;
    color: #2c2d2d;
}
.background2 {
    color: #d4d4d2;
    background-color: #ff9500;
}
.margin{
    margin: 15px 15px  15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* @media (max-width:600px) {
    
    .content{
        width: 600px;
        height: 900px;
       
    }
    
} */